:root {
  --black-color: #151515;
  --light-orange: #f8a145;
  --orange: #f07900;
  --orange-hover: hsl(30, 100%, 65%);
  --dark-orange: #d35100;
  --dark-orange-hover: hsl(23, 100%, 55%);
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--black-color);
}

header > nav {
  font-size: 2.5rem;
  margin-top: 0.6em;
  margin-left: 0.6em;
}

header > nav > a {
  color: var(--orange);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

header > nav > a:hover {
  color: var(--orange-hover);
}

/* About Me Section */
.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2em 1.5em 4em 1.5em;
}

.about-me-section div:first-child {
  width: min(100%, 22em);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-section div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}

.about-me-section section {
  width: min(100%, 27em);
  user-select: none;
}

.about-me-section section h1 {
  color: var(--white-color);
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-me-section section h1::after {
  content: "";
  width: 2.4em;
  height: 0.18em;
  background: var(--orange);
  position: relative;
  right: 1.9em;
  top: 0.2em;
}

.about-me-section section p {
  color: var(--white-color);
  line-height: 1.5em;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

.about-me-section section .social-links {
  margin-top: 2.3em;
  text-align: center;
}

.about-me-section section .social-links a {
  color: var(--orange);
  text-decoration: none;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  margin: 0em 0.8em;
  transition: color 0.2s ease-in-out;
}

.about-me-section section .social-links a:hover {
  color: var(--orange-hover);
}

@media (min-width: 46em) {
  .about-me-section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-me-section div:first-child {
    width: min(100%, 28em);
    margin-right: 2em;
  }

  .about-me-section section {
    width: min(100%, 30em);
  }

  .about-me-section section h1 {
    margin-top: 0em;
  }

  .about-me-section section p {
    text-align: left;
  }

  .about-me-section section .social-links {
    margin-top: 2em;
    text-align: left;
  }

  .about-me-section section .social-links a:first-of-type {
    margin-left: 0em;
  }
}

/* Question and Answer Section */
.question-and-answer-section {
  margin-top: 0em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-and-answer-section h1 {
  color: var(--white-color);
  font-size: 2.1rem;
  text-align: center;
  margin: 0em 1.5em 1em 1.5em;
}

.question-and-answer-section .question-and-answer-content {
  display: flex;
  flex-direction: column;
  width: min(90%, 50em);
}

.question-and-answer-section .question-and-answer-content .accordion {
  background: var(--dark-orange);
  color: var(--white-color);
  cursor: pointer;
  padding: 1.1em;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-and-answer-section .question-and-answer-content .active,
.question-and-answer-section .question-and-answer-content .accordion:hover {
  background: var(--dark-orange);
}

.question-and-answer-section .question-and-answer-content .accordion:after {
  content: "\002B";
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 0.7em;
}

.question-and-answer-section .question-and-answer-content .active:after {
  content: "\2212";
  color: var(--white-color);
  font-size: 1.3rem;
  margin-left: 0.7em;
}

.question-and-answer-section .question-and-answer-content .panel {
  background: var(--dark-orange);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1.5em;
  user-select: none;
}

.question-and-answer-section .question-and-answer-content .panel p {
  padding: 0em 1.2em 1.2em 1.2em;
  width: 100%;
  color: var(--white-color);
  line-height: 1.7em;
  font-size: 1.1rem;
}
